@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~react-modal-video/css/modal-video.min.css';

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2000ms;
    }
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.75;
    color: #333333;
}

p:not(:last-child) {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #202020;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

h5, h6 {
    font-weight: 600;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*
    Container
 */
.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*
    Navbar
*/

.nav li a:hover span {
    transform: translate3d(0, -12px, 0);
    opacity: 0;
}

/*
    Icon Spin
*/
.icon-spin {
    animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes icon-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

/* redesign */

.before\:bg-dark::before {
    --tw-bg-opacity: 0 !important;
}

.font-heading {
    font-family: "Montserrat", sans-serif;
}

.date-placeholder {
    display: inline-block;
    width: 220px; /* Ajustez la largeur en fonction de vos besoins */
}
