/* App.css */
.App {
  min-height: 100vh;
}

.MenuLine {
  height: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.Menu {
  text-align: center;
  padding: 20px;
  align-self: end;
  padding:0px;
  font-size:25px
}
